doctype html
html(ng-app="otaServerApp")
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/bower_components/gentelella/build/css/custom.min.css')
    link(rel='stylesheet', href='/bower_components/switchery/dist/switchery.min.css')
    link(rel='stylesheet', href='/styles/main.css')
  body(class="{{bodyClass}}", ng-controller="NavigationCtrl as vm")
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            .navbar.nav_title
              a.site_title(href='/')
                i.fa.fa-wifi
                span=" OTA SERVER"
            .clearfix
            .profile
            br
            #sidebar-menu.main_menu_side.main_menu
              .menu_section.active
                h3 Menu
                ul.nav.side-menu
                  li.active
                    a(href="#/")
                      i.fa.fa-home
                      ="Home"
                  li(ng-show="!user.admin")
                    a(href="#/devices")
                      i.fa.fa-eercast
                      ="Devices"
                      span.badge.pull-right(ng-if="deviceCount") {{deviceCount}}
                  li(ng-show="user.admin")
                    a(href="#/admin/devices")
                      i.fa.fa-eercast
                      ="Devices"
                      span.badge.pull-right(ng-if="deviceCount") {{deviceCount}}
                  li
                    a
                      i.fa.fa-user
                      ="Profile"
                  li
                    a(href="#/integration")
                      i.fa.fa-doc
                      ="Integration"
                  li
                    a(href="/logout")
                      i.fa.fa-sign-out
                      ="Signout"
        .top_nav
          .nav_menu
            nav(role="navigation")
              .nav.toggle
                a#menu_toggle(ng-href="", ng-click="vm.sidebar=!vm.sidebar")
                  i.fa.fa-bars
              ul.nav.navbar-nav.navbar-right
                li
                  a
                    i.fa.fa-envelope
        .right_col(style="min-height: 2000px;")
          div(ng-view="")
          block content

    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="/bower_components/angular-cookies/angular-cookies.min.js")
    script(src="/bower_components/angular-messages/angular-messages.min.js")
    script(src="/bower_components/angular-route/angular-route.min.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="/bower_components/angular-touch/angular-touch.min.js")
    script(src="/bower_components/moment/moment.js")
    script(src="/bower_components/moment/locale/de.js")
    script(src="/bower_components/angular-moment/angular-moment.min.js")
    script(src="/bower_components/clipboard/dist/clipboard.min.js")
    script(src="/bower_components/ngclipboard/dist/ngclipboard.min.js")
    script(src='/bower_components/switchery/dist/switchery.min.js')
    script(src='/bower_components/ng-switchery/src/ng-switchery.js')
    script(src='/bower_components/showdown/compressed/Showdown.min.js')
    script(src='/bower_components/angular-markdown-directive/markdown.js')
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/about.js")
    script(src="scripts/controllers/device.js")
    script(src="scripts/controllers/doc.js")
    script(src="scripts/services/device.js")
    script(src="scripts/services/user.js")
