<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Devices
          <small>unassociated</small>
        </h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <ul class="messages">
          <li ng-repeat="device in vm.devices" class="device-row" ng-class="{updated: (!device.pending && device.lastUpdate)}">
            <div class="row">
              <div class="col-md-4">
                <h4 class="heading">{{device.deviceId}}
                  <span class="small text-muted" ng-if="device.user">owned by {{device.user.username}}</span>
                  <span class="small text-danger" ng-if="!device.user"><strong>Unassociated</strong></span>
                </h4>
                <p>
                  <div ng-if="device.lastCheck">
                  <span class="text-muted"></span><i class="fa fa-clock-o"></i> <span am-time-ago="device.lastCheck"></span>
                </div>
                <div ng-if="!device.lastCheck">
                  <span class="text-muted">not seen</span>
                </div>
                </p>
              </div>
              <div class="col-md-3 col-md-offset-5">
                <div clas=" one-line">
                  <a href="#/devices/{{device._id}}/edit" class="btn btn-primary">Edit</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="x_content">


        <table class="table table-striped">
          <thead>

            <tr class="headings">
              <td>
                Name
              </td>
              <td>
                STA
              </td>
              <td>
                Created
              </td>
              <td>
                Checked
              </td>
              <td>
                SDK
              </td>
              <td>
                Owner
              </td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="device in vm.devices">
              <td>
                <a class="btn btn-link" ng-href="#/devices/{{device._id}}/edit">{{device.deviceId}}</a>
              </td>
              <td>
                <span>{{device.sta}}</span>
              </td>
              <td>
                <span am-time-ago="device.created"></span>
                <span ng-show="{{device.created | amDifference: null :'days'}} ===0" class="label label-warning">New</span>
              </td>
              <td>
                <span am-time-ago="device.lastCheck"></span>
              </td>
              <td>
                <span>{{device.sdk}}</span>
              </td>
              <td>
                <span ng-if="!device.user" class="text-muted">Unknown</span>
                <span>{{device.user.username}}</span>
              </td>
              <td>
                <a href="#/devices/{{device._id}}/edit" class="btn btn-primary">Edit</a>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
