    <div class="x_panel">
      <div class="x_title">
        <h2>Devices
          <small>all</small>
        </h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <ul class="messages">
          <li ng-repeat="device in vm.devices" class="device-row ng-cloak" ng-class="{updated: (!device.pending && device.lastUpdate), pending: (device.pending && device.lastUpdate), updating: ((vm.updates | contains: device._id) || device.inProgress)}">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <h4 class="heading">{{device.deviceId}}
                  <span class="small text-muted" ng-if="device.user">owned by {{device.user.username}}</span>
                  <span class="small text-danger" ng-if="!device.user"><strong>Unassociated</strong></span>
                </h4>
                <p>
                  <span ng-if="device.lastCheck" class="text-muted"></span><i class="fa fa-eye"></i> <span am-time-ago="device.lastCheck"></span>
                  <span ng-if="!device.lastCheck" class="text-muted">not seen</span>
                  <span  ng-if="!device.inProgress && device.updateCount>0 && !(vm.updates | contains: device._id)" class="label label-warning">Reset or trigger update!</span>
                </p>
              </div>
              <div class="col-md-4 col-sm-4">
                <h4 class="heading">{{device.sta}}</h4>
                <p>
                  <span ng-if="device.lastUpdate"><i class="fa fa-cloud-download"></i> <span am-time-ago="device.lastUpdate"></span></span>
                </p>
              </div>
              <div class="col-md-2 col-sm-2 hidden-xs">
                <p>
                  <i class="fa fa-fw fa-circle-thin"></i> {{device.type}}
                </p>
                <p>
                  <i class="fa fa-fw fa-cog"></i> {{device.sdk}}
                </p>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div clas="one-line" >
                  <div  ng-hide="(vm.updates | contains: device._id) || device.inProgress">

                  <a href="#/devices/{{device._id}}/edit" class="btn btn-primary">Edit</a>
                  <button class="btn btn-danger" mwl-confirm title="Delete"
  message="Do you really want to delete this device?" confirm-button-type="danger" placement="left" on-confirm="vm.delete(device)">Delete</button>
                </div>

                  <h4 ng-show="(vm.updates | contains: device._id) || device.inProgress"><i class="fa fa-circle-o-notch fa-spin"></i> Updating!</h4>

                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
